@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #e9e0e0;
	color: #413d3d;
	font-family: 'Roboto', 'Palanquin Dark', sans-serif;
	text-align: center;
}

::-webkit-scrollbar {
	display: none;
}

footer {
	margin: 2rem;
  	display: flex;
  	justify-content: center;
  	color: #c0b3b3;
}

p {
	margin-top: 1.75rem;
	margin-bottom: 1rem;
}

.teamTitle {
	margin: 2rem 0 0;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 48px;
	letter-spacing: 1px;
}

.groupSubtitle {
	margin: 0 0 1rem;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 40px;
}

.groupMembers {
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.groupRow {
	display: grid;
	gap: 1.5rem;
}

.admin {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	background: #F9F9F9;
	border-radius: 1rem;
	color: black;
	box-shadow: rgba(17, 12, 46, .1) 0px 48px 100px 0px;
	font-size: 30px;
}

.admin p {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	opacity: .8;
}

.admin p.name {
	font-size: 34px;
	font-weight: 600;
	color: #333;
}

.admin p.status {
	font-size: 24px;
	font-weight: 500;
}