@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

body {
	margin: 0;
	padding: 0;
	background: transparent;
	color: #413d3d;
	font-family: 'Roboto', 'Palanquin Dark', sans-serif;
	text-align: center;
}

::-webkit-scrollbar {
	display: none;
}

footer {
	margin: 2rem;
  	display: flex;
  	justify-content: center;
  	color: #c0b3b3;
}

p {
	margin-top: 1.75rem;
	margin-bottom: 1rem;
}

.teamTitle {
	margin: 2rem 0 0;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 48px;
	letter-spacing: 1px;
	color: #FFBE02;
}

.groupSubtitle {
	margin: 0 auto 1rem;
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 40px;
	color: #FFBE02;
}

.groupMembers {
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.groupRow {
	display: grid;
	gap: 1.5rem;
}

.admin {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	background: #F9F9F9;
	border-radius: 1rem;
	color: black;
	box-shadow: rgba(17, 12, 46, .1) 0px 48px 100px 0px;
	font-size: 30px;
	cursor: pointer;
	transition: all .15s;
}

.admin:hover {
	background: #F2F2F2;
}

.admin p {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	opacity: .8;
}

.admin p.name {
	font-size: 34px;
	font-weight: 600;
	color: #333;
}

.admin p.status {
	font-size: 24px;
	font-weight: 500;
}

.admin .icon {
	font-size: 20px;
	display: flex;
	gap: .5rem;
	align-items: center;
	justify-content: center;
}

.admin .icon span {
	margin-top: -1px;
}

@media only screen and (max-width: 1264px) {
	/*.groupRow {
		grid-template-columns: 1fr 1fr !important;
	}*/
	.admin img {
		width: 100px;
	}

	.admin p.name {
		font-size: 26px;
	}

	.admin p.status {
		font-size: 18px;
	}

	.admin .icon {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1006px) {
	.groupRow {
		display: flex;
		flex-direction: column;
	}
}


.tooltip {
	position: relative;
	display: inline-block;
	font-size: 18px;
	
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: transparent;
	color: #080808;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 13px;
	font-weight: bold;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 57%;
	left: 50%;
	margin-left: -95px;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .orange {
    color: orange;
}  
.green {
    color: green;
}

.red {
    color: red;
}