.user-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto 20px;
    
}

.card-box {
    padding: 15px;
    background-color: #423a3a;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #8d8c8c;

    
}

.card-box p {
    color: #808080;
}

.ikony{
 display: flex;
 justify-content: center;
 gap: 8px;
}

body{
 background-color: #e9e0e0;
color: #413d3d;
}

body::-webkit-scrollbar {
  display: none;
}



footer{
  display: flex;
  justify-content: center;
  color: #c0b3b3;
}


  